/* classwork day2 */

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

.background {
    background-image: url(Layer21.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.text {
    width: 550px;
    height: 240px;
    padding: 440px 0 0 200px;
}

.sertiz {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}

.awsome {
    color: white;
    font-size: 16px;
    margin-top: 5px;
}

.smart_design {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    padding: 20px;
    margin-top: 20px;
}

.we {
    color: #f1ad1d;
    text-align: left;
    padding: 0 20px 0 0;
}

span {
    text-transform: uppercase;
}


/* classwork day3*/

.about_us {
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    margin-top: 50px;
}

.award_winning {
    color: #333333;
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}

.award {
    text-align: center;
}

.short_line {
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: 0px;
    text-align: center;
    margin: 40px auto;
}


/* classwork day4 */

.menu {
    width: 900px;
    margin: 40px auto;
}

.logo {
    display: inline-block;
    text-transform: uppercase;
    color: #f1ad1d;
    font-size: 26px;
    font-weight: 600;
    padding-right: 40px;
}

.menu_item {
    display: inline-block;
}

.item {
    color: #333333;
    display: inline-block;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
}

.item:hover {
    color: yellow;
}

.item:after {}

.color {
    color: #f1ad1d;
}

.long_line {
    background-color: #f1ad1d;
    height: 3px;
    border: 0px;
}

.they_about_us {
    width: 900px;
    height: 300px;
    margin: 20px auto 70px auto;
}

.images_they_about_us {
    width: 455px;
    height: 300px;
    float: left;
}

.images_1 {
    width: 220px;
    height: 130px;
    background-image: url(../images/Layer\ 23.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.images_2 {
    width: 220px;
    height: 130px;
    background-image: url(../images/Layer\ 24.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    margin-bottom: 10px;
}

.images_3 {
    width: 220px;
    height: 130px;
    background-image: url(../images/Layer\ 25.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}

.images_4 {
    width: 220px;
    height: 130px;
    background-image: url(../images/Layer\ 26.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
}

.name_image {
    width: 100px;
    height: 35px;
    background-color: rgb(54, 51, 51);
    font-size: 12px;
    text-transform: capitalize;
    color: white;
    padding: 10px;
    margin: 80px 10px;
    box-sizing: border-box;
}

.text_they_about_us {
    width: 420px;
    height: 300px;
    float: left;
    margin-left: 10px;
}

.business_consulting {
    color: black;
    text-transform: uppercase;
    margin-top: 0px;
}

.check_our_projects {
    width: 170px;
    height: 50px;
    background-color: #f1ad1d;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    padding: 15px 0;
    box-sizing: border-box;
    margin-top: 33px;
}

.text_business_consulting {
    text-align: justify;
    margin: 10px 0px;
    font-size: 14px;
}


/*classwork day5*/

.ideas {
    width: 100%;
    height: 300px;
    background-image: url(../images/Layer22.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 40px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.text_ideas {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.idea_text_color {
    color: #f1ad1d;
}

.image_team {
    width: 915px;
    height: 370px;
    margin: 0 auto;
}

.image_team_box {
    width: 150px;
    height: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    border: 1px solid white;
}

.image_team_item1 {
    background-image: url(../images/Layer\ 27.png);
}

.image_team_item2 {
    background-image: url(../images/Layer\ 28.png);
}

.image_team_item3 {
    background-image: url(../images/Layer\ 29.png);
}

.image_team_item4 {
    background-image: url(../images/Layer\ 30.png);
}

.image_team_item5 {
    background-image: url(../images/Layer\ 31.png);
}

.image_team_item6 {
    background-image: url(../images/Layer\ 32.png);
}

.image_team_item7 {
    background-image: url(../images/Layer\ 33.png);
}

.image_team_item8 {
    background-image: url(../images/Layer\ 34.png);
}

.image_team_item9 {
    background-image: url(../images/Layer\ 35.png);
}

.image_team_item10 {
    background-image: url(../images/Layer\ 36.png);
}

.image_team_item11 {
    background-image: url(../images/Layer\ 37.png);
}

.image_team_item12 {
    background-image: url(../images/Layer\ 38.png);
}

.team_names {
    width: 100px;
    height: 32px;
    background: rgb(54, 51, 51);
    margin-top: 100px;
    margin-left: 10px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 11px;
    text-transform: capitalize;
}

.color_last_name {
    color: #f1ad1d;
    text-transform: capitalize;
}

.offer {
    width: 920px;
    height: 600px;
    margin: 0 auto;
}

.our_offer_first {
    width: 210px;
    height: 600px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    float: left;
}

.our_offer {
    width: 210px;
    height: 600px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    float: left;
    margin-left: 20px;
}

.offer_box {
    width: 210px;
    height: 36px;
    background: rgb(54, 51, 51);
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px
}

.color_name_offer {
    color: #f1ad1d;
    text-transform: lowercase;
}

.offer_logo {
    height: 70px;
    margin: 0 auto;
}

.offer_logo_text {
    font-size: 12px;
    width: 100%;
    height: 60px;
    margin-top: 0px;
}

.what_we_offer {
    text-align: center;
    font-size: 16px;
}

.what_we_offer::first-letter {
    text-transform: capitalize;
}

.what_we_offer_text {
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}


/* classwork day 7*/

.container_featured {
    width: 100%;
    height: 475px;
    background-image: url(../images/Layer\ 39.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px auto;
}

.we_are_featured {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    padding-top: 180px;
}

.color_we_are {
    color: #f1ad1d;
}

.our_clients {
    width: 1000px;
    height: 50px;
    margin: 80px auto;
}

.our_clients_item {
    width: 240px;
    height: 50px;
    float: left;
}

.what_they_say {
    position: relative;
    top: 50px;
    text-align: center;
}

.listen_what_they_say {
    text-transform: uppercase;
    font-size: 19px;
}

.quote {
    width: 1000px;
    height: 50px;
    margin: 80px auto;
}


/*.quote_clients {
    width: 250px;
    height: 50px;
    float: left;
    border-top: 3px solid #f1ad1d;
    text-transform: justify;
    padding-top: 20px;
    box-sizing: border-box;
}*/

.quote_clients:before {
    content: "\201C";
    font-size: 100px;
    color: #f1ad1d;
    float: left;
    margin-left: 20px;
}

.quote_clients_text {
    width: 200px;
    height: 50px;
    float: left;
    border-top: 3px solid #f1ad1d;
    text-transform: justify;
    padding-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
}